@import url(http://fonts.googleapis.com/css?family=Inconsolata);
* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: #111212;
	color: #a6a6a6;
	overflow:hidden;
	font-family:  "Inconsolata", sans-serif;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*border-radius: 10px;*/
	background-color: #111212;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
header {
	display: block;
	width: 100%;
	background-color: #363639;
	border-top: 1px solid #3c3c3f;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	font-size: 10px;
}
button {
	display: inline-block;
	padding: 3px 8px 3px 8px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39393d), color-stop(52%,#343437), color-stop(100%,#2d2e30)); /* Chrome,Safari4+ */
	color: #898989;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	font-size: 13px;
	border: 1px solid #151517;
	-webkit-box-shadow: inset 0px 1px 0px 0px #464648
}
button:hover {
	color: #dddddd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49494c), color-stop(52%,#434245), color-stop(100%,#3b3b3d)); /* Chrome,Safari4+ */
	-webkit-box-shadow: inset 0px 1px 0px 0px #545457;
}

header.title {
	padding: 5px;
	text-align: right;
	-webkit-app-region: drag;
}
header.title button {
	-webkit-app-region: no-drag;
}
header.hide {
	display: none;
}
#titlebar_title {
	float: left;
	font-size: 14px;
	margin-top: 5px;
	margin-left: 10px;
	text-transform: uppercase;
}
/*
 * PANEL
 */
#panelHolder
{
	width:100%;
	height: calc( 100% - 35px );
}
.panel, .module
{
	width:100%;
	height:100%;
	display: inline-block;
	position: relative;
}
.module
{
	width:100%;
}
.panel .module .tabsHolder
{
	width:100%;
	height:30px;
	background-color: #000;
	display: block;
	overflow: hidden;
}
.panel .module .tab
{
	/*background-color: #666;*/
	display: inline-block;
	padding: 0 30px 0 10px;
	cursor: pointer;
	margin-right: -65px;
	position: relative;
	
	 height: 0; 
   border-bottom: 80px solid #565751;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
}
.panel .module .tab span
{
	font-size:11px;
	margin-top: 9px;
	display: block;
	color:#FFF;
}
.panel .module .tab.active
{
	 border-bottom: 80px solid #272822;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
}
.panel .module .tab .close
{
	font-size:11px;
	color:#FFF;
	width:10px;
	height:20px;
	position: absolute;
	right:5px;
	top:5px;
	z-index: 5;
}
.panel.left
{
	width:50%;
}
.panel.right
{
	width:50%;
}
/*
 * EDITOR
 */
.editorHolder
{
	width:100%;
	height:calc(100% - 30px);
	display: block;
}
.navigator
{
	width: 75px;
	min-height: 100px;
	background-color: #ccc;
	position: absolute;
	top:30px;
	right:0;
	opacity: 0.3;
	z-index: 5;
}
